<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<listeners>
<listener class-name="HomeAutomation.Listeners"></listener>
</listeners>
	<test thread-count="5" name="HomePage">
		<classes>
			<class name="HomeAutomation.HomePageTC"></class>
		</classes>
	</test>

	<test name="LandingPage">
		<classes>
			<class name="HomeAutomation.LandingPageTC"></class>
		</classes>
	</test>

	<test name="LoginPage Test">
		<classes>
			<class name="HomeAutomation.LoginTC"></class>
		</classes>

	</test> <!-- Test -->
	

</suite> <!-- Suite -->
